<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Курс валют</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/dollar.ico"/>
    <style>
      body {
      background-color: #10177c;
      }

      .branch {
      color: #ae0000;
      font-style: italic;
      font-size: 18pt;
      text-shadow: 1px 1px 2px white;
      }

      .p1 {
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      color: #ffffff;
      text-indent: 2em;
      font-size: 14pt;
      }
      img {
      height: 100%;
      width: 100%;
      }
    </style>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #10177c">
        <a class="navbar-brand" href="Index">
          <p class="branch">
            <b>SiteOfCurrencies</b>
          </p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="calculator">
                <b>Калькулятор</b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="ListCurrency">
                <b>Список валют</b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="Information">
                <b>О проекте</b>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
  </body>
</html>
