@page
@model IndexModel
@{
    ViewData["Title"] = "Курс валют";
}
<style>

    p {
        text-indent: 2em;
        text-align: justify;
    }
</style>
<div class="container-fluid">
    <h3 style="text-align: center">Курс валют</h3>
    <div class="row">
        <div class="col-lg-8">
            <p>
                Валюта — национальные, иностранные и международные деньги, как в наличной форме (в виде банкнот, казначейских билетов, монет), так и безналичной (на банковских счетах и в банковских вкладах), являющиеся законным средством платежа.

                Второе значение термина — денежная единица, то есть единица измерения денег, используемая для выражения цен товаров и услуг, для установления номиналов денежных знаков, для осуществления денежных расчётов, для определения стоимости (курса) иностранных валют.

                Национальной валютой Республики Беларусь является белорусский рубль, состоящий из 100 копеек (последние выступают по отношению к национальной валюте разменными денежными единицами). Примерами международных валют являются доллары, евро, специальные права заимствования.

                Ряд авторов считает, что валютой в широком смысле является любой товар, способный выполнять функцию денег при совершении обмена на рынке внутри страны или на международном рынке.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="~/img/val.jpg" style="height: 100%; width: 100%;">
        </div>
    </div>
    <hr>
    <h3 style="text-align: center">Этимология</h3>
    <div class="row">
        <div class="col-lg-12">
            <p>Слово «валюта» происходит от итал. valuta («стоимость, монета, валюта»), связано с итал. valere («иметь вес, стоить»), которое происходит от лат. valere («быть сильным, иметь возможность, стоить»), в свою очередь восходящего к праиндоевр. *wal («быть сильным»). Русское слово «валюта», возможно, заимствовано через нем. Valuta или прямо из итальянского языка.</p>
            <p>Термин Валюта также применяется для обозначения:</p>
            <ol>
                <li>иностранной валюты;</li>
                <li>валютных ценностей;</li>
                <li>валюты баланса.</li>
            </ol>
        </div>
    </div>
    <hr>
    <h3 style="text-align: center">Валюта и деньги</h3>
    <div class="row">
        <div class="col-lg-12">
            <p>Слово «валюта» вошло в широкий обиход только во второй половине XX века и обычно применяется только к действующим законным средствам платежа, существующим в формах наличных или безналичных денег. Так, древнеримский денарий не называют валютой, используя понятия «монета», «денежная единица». Термин «валюта» (как основная денежная единица государства) не тождественен понятию «деньги». Некоторые функции денег при определённых обстоятельствах могут выполнять некоторые товары (товарные деньги). Так, например, в Германии в первые годы после окончания Второй мировой войны, в Западной зоне оккупации на чёрном рынке роль денег играли американские сигареты.</p>
        </div>
    </div>
    <hr>
    <h3 style="text-align: center">Классификация валюты</h3>
    <div class="row">
        <p>Существует несколько подходов для выделения различных видов валют, в частности выделяют:</p>
        <div class="col-lg-6">
            <ol>
                <li>
                    По отношению к государству-эмитенту:
                    <ul>
                        <li>национальная</li>
                        <li>иностранная</li>
                        <li>коллективная</li>
                    </ul>
                </li>
                <li>
                    По возможности обмена на другую валюту
                    <ul>
                        <li>свободно конвертируемая</li>
                        <li>частично конвертируемая, частично обратимая</li>
                        <li>неконвертируемая, необратимая, замкнутая</li>
                    </ul>
                </li>
                <li>
                    По обеспеченности драгоценными металлами в рамках действующей денежной системы:
                    <ul>
                        <li>обеспеченная золотом</li>
                        <li>обеспеченная серебром</li>
                        <li>биметаллическая</li>
                        <li>необеспеченная драгоценными металлами</li>
                    </ul>
                </li>
                <li>
                    По степени стабильности, устойчивости валютного курса:
                    <ul>
                        <li>твёрдая / сильная</li>
                        <li>мягкая / слабая</li>
                    </ul>
                </li>
                <li>
                    По статусу эмитента и территории обращения:
                    <ul>
                        <li>национальная</li>
                        <li>региональная</li>
                        <li>частная</li>
                    </ul>
                </li>
                <li>
                    По степени использования в мировом обороте:
                    <ul>
                        <li>международная</li>
                        <li>ключевая</li>
                        <li>резервная</li>
                        <li>ведущая (доминирующая)</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <ol>
                <li>
                    По сфере применения:
                    <ul>
                        <li>валюта цены</li>
                        <li>валюта платежа</li>
                        <li>валюта чека, векселя</li>
                        <li>валюта ценных бумаг</li>
                        <li>валюта интервенции</li>
                        <li>клиринговая валюта</li>
                    </ul>
                </li>
                <li>
                    По наличию других валют, участвующих в обращении:
                    <ul>
                        <li>единственное законное платёжное средство</li>
                        <li>параллельная</li>
                        <li>суррогатная</li>
                    </ul>
                </li>
                <li>
                    По сроку действия:
                    <ul>
                        <li>постоянная</li>
                        <li>временная</li>
                    </ul>
                </li>
                <li>
                    По наличию физической формы (в форме банкнот, казначейских билетов и монет):
                    <ul>
                        <li>Наличные деньги</li>
                        <li>Счётные денежные единицы</li>
                    </ul>
                </li>
                <li>
                    По своему текущему статусу:
                    <ul>
                        <li>историческая</li>
                        <li>существующая</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>