@page
@{
    ViewData["Title"] = "О проекте";
}
<div class="container-fluid">
    <h3 style="text-align: center">Веб-приложение "Курс валют"</h3>
    <p><b>Тема:</b> Курс валют</p>
    <p><b>Язык программирования:</b> C#</p>
    <p><b>Среда разработки:</b> Visual Studio</p>
    <p><b>Разработчик:</b> Королев А.И.</p>
</div>