@page
@{
    ViewData["Title"] = "О проекте";
}
<style>
    p {
        font-family: 'Times New Roman', Times, serif;
        text-align: justify;
        color: #ffffff;
        text-indent: 2em;
        font-size: 14pt;
    }
    h2 {
        color: #ffffff;
    }
</style>
<div class="container-fluid"  style="background-color: #676dc5">
    <h2 style="text-align: center;"><b>Справочная информация</b></h2>
    <div class="row">
        <div class="col-lg-8">
            <p>На главной странице сайта вы можете получить информацию: о том что такое валюта и какие они бывают. А так же информацию об "Этимологию валют", "Историю возникновения валют" и "Классификацию валют"</p>
        </div>
        <div class="col-lg-4">
            <img src="~/img/menu.png" style="height: 100%; width: 100%;"/>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid" style="background-color: #ffffff">
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img src="~/img/cal.png" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-lg-8">
            <p style="color: #000000">Калькулятор валют создан для перевода одних денежных единиц в другие. Вы должны ввести целое или дробное число (дробное пишеться через точку), выбрать валюту которую хотите перевести и валюту в которую хотите перевести</p>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid" style="background-color: #bd1313">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <p>На вкладке "Список валют" можно отсортировать данные предоставлемые национальным банком Республики Беларусь и получить нужную информацию</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="~/img/list1.png" style="height: 100%; width: 100%;" />
        </div>
        <div class="col-lg-6">
            <img src="~/img/list2.png" style="height: 100%; width: 100%;" />
        </div>
    </div>
    <br />
</div>
<div class="container-fluid" style="background-color: #676dc5">
    <br />
    <div class="row">
        <div class="col-lg-8" >
            <p><b>Использованные языки веб-разработки: </b>HTML, CSS</p>
            <p><b>Использованные языки программирования: </b>C#, JavaScript</p>
            <p><b>Платформа разработки веб-приложения: </b>ASP.NET</p>
            <p><b>Среда разработки: </b>Visual Studio</p>
            <p><b>Разработчик: </b>Королев А.И.</p>
        </div>
    </div>
    <br />
</div>